/*
    Z-index 
    交互提示>=8000
    顶部浮动>=5000
    左侧浮动>=2000
    主要框体>=0

    Wrap      外包围框体
    Container 防溢出-外定位框体
    Content   浮动层-内定位框体
*/

/*公共定义*/
@font-face { font-family: 'iconfont'; src: url('http://at.alicdn.com/t/font_1396539962_3754275.eot'); /* IE9*/ src: url('http://at.alicdn.com/t/font_1396539962_3754275.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1396539962_4017541.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1396539962_3285084.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1396539962_4624813.svg#iconfont') format('svg'); /* iOS 4.1- */ }

html { overflow: hidden; }

.min { height: 0px; overflow: hidden; }
    .min > * { opacity: 0; display: none; }
.max { height: auto; overflow: hidden; }
.noScroll { height: 0px; overflow: hidden; position: relative; }
    .noScroll > * { opacity: 0; display: none; }
.show { display: block; }
.hidden { display: none; }
.clear { clear: both; }

.l_Content { float: left; }
.r_Content { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }

.inline_key { display: inline-block; }
.inline_val { display: inline-block; }
.block_key { display: block; }
.block_val { display: block; }

.iconfont { font-family: "iconfont"; font-size: 16px; font-style: normal; }

a, h1, h2, h3, h4, h5, p, span { font-family: 'Microsoft YaHei'; }
h1, h2, h3, h4 { color: #323b3d; }
ul { list-style-type: none; }
a { color: #89949f; transition: all 0.3s; }
    a:hover { color: #cdd4db; text-decoration: none; }



/*通用框体*/
.Wrap { }
    .Wrap .Container { }
        .Wrap .Container .Content { position: relative; overflow: hidden; }

/*左侧*/
.ToolsBar { position: fixed; top: 0; left: 0; width: 76px; height: 100%; background: #33373b; z-index: 5000; }
    /*.ToolsBar .ToolsBar_Logo { border-bottom: 1px solid #111617; text-align: center; }
        .ToolsBar .ToolsBar_Logo .Logo_Box { margin: auto; width: 144px; height: 48px; }*/
    .ToolsBar .ToolsBar_User { width: 100%; text-align: center; padding: 15px 0; border-top: 1px solid #263033; position: absolute; bottom: 0px; left: 0px; }
        .ToolsBar .ToolsBar_User .User_Panel { margin: auto; width: 46px; height: 46px; border: 4px solid #353e41; overflow: hidden; border-radius: 46px; background: #fff; }
            .ToolsBar .ToolsBar_User .User_Panel img { }

    .ToolsBar .ToolsBar_Menu { border-top: 1px solid #111618; }
        .ToolsBar .ToolsBar_Menu ul { padding: 76px 0; }
            .ToolsBar .ToolsBar_Menu ul li { overflow: hidden; }
                .ToolsBar .ToolsBar_Menu ul li a { background-image: url(/Content/Images/MenuIcon.png); background-repeat: no-repeat; width: 76px; height: 76px; display: block; margin: auto; color: #637074; font-size: 14px; transition: color 0.3s; text-indent: -9999px; }
                .ToolsBar .ToolsBar_Menu ul li.WorkFlow a { background-position: 0 0; }
                    .ToolsBar .ToolsBar_Menu ul li.WorkFlow a:hover { background-position: -76px 0; background-color: #2f3338; }
                    .ToolsBar .ToolsBar_Menu ul li.WorkFlow a.select { background-color: #2b2f33; }

.MainBox { position: relative; width: auto; background: #fff; }
    .MainBox .Center_Wrap { position: fixed; top: 0; left: 76px; width: 360px; height: 100%; background: #fff; z-index: 2500; color: #696969; }
        .MainBox .Center_Wrap .Center_Container { height: 100%; }
            .MainBox .Center_Wrap .Center_Container .Center_Content { height: 100%; }

.Center_Content .Center_Title { padding: 20px 0; position: relative; }

/*.Center_Content .Center_Title.HighLv { }
        .Center_Content .Center_Title.HighLv h4 { color: #fff; font-weight: normal; }*/


.Center_Content .Center_Box { position: relative; overflow-x: hidden; height: 100%; }
    .Center_Content .Center_Box ul { background: url(/Content/Images/ListStyle_Line.png) repeat-y 39px 0; padding: 20px 0; }
        .Center_Content .Center_Box ul li { position: relative; }
            .Center_Content .Center_Box ul li a { display: block; }
            .Center_Content .Center_Box ul li span { display: inline-block; }
                .Center_Content .Center_Box ul li span.TaskIco { padding-left: 20px; width: 40px; height: 40px; background-image: url(/Content/Images/ListStyle.png); background-repeat: no-repeat; }
            .Center_Content .Center_Box ul li p { font-size: 13px; margin-bottom: 3px; }

            .Center_Content .Center_Box ul li .TaskWrap { position: relative; top: -45px; left: 58px; width: 275px; overflow: hidden; }
                .Center_Content .Center_Box ul li .TaskWrap .icon_arrow { font-size: 28px; color: #f3f3f3; position: absolute; top: 10px; }
                .Center_Content .Center_Box ul li .TaskWrap .TaskContent { transition: background 0.3s; width: 241px; border-radius: 3px; padding: 9px 10px 7px 10px; overflow: hidden; position: relative; left: 14px; background: #fbfbfb; }
            .Center_Content .Center_Box ul li:hover .TaskWrap .icon_arrow { color: #e9edf0; }
            .Center_Content .Center_Box ul li:hover .TaskWrap .TaskContent { background: #e9edf0; }
                .Center_Content .Center_Box ul li:hover .TaskWrap .TaskContent a { color: #323b3d; }

            .Center_Content .Center_Box ul li.Quto { padding: 31px 0; }
                .Center_Content .Center_Box ul li.Quto a { padding: 10px 20px; color: #ccc; }
                    .Center_Content .Center_Box ul li.Quto a:hover { color: #fff; }
                .Center_Content .Center_Box ul li.Quto .Quto_Title { color: #fff; padding: 0 4px; }
                .Center_Content .Center_Box ul li.Quto .Quto_Value { width: 40px; color: #fff; border-radius: 5px; padding: 5px 0; text-align: center; letter-spacing: 2px; }

                .Center_Content .Center_Box ul li.Quto.RealTime a { background: #d63434; }
                .Center_Content .Center_Box ul li.Quto.RealTime .Quto_Value { background: #b12222; }

                .Center_Content .Center_Box ul li.Quto.High a { background: #fda737; }
                .Center_Content .Center_Box ul li.Quto.High .Quto_Value { background: #eb9628; }

            .Center_Content .Center_Box ul li.RealTimeNode a { /*padding: 24px 0;*/ }
            .Center_Content .Center_Box ul li.RealTimeNode span.TaskIco { background-position: 20px 0; }
            .Center_Content .Center_Box ul li.RealTimeNode span.TaskType { }

            .Center_Content .Center_Box ul li.HighNode a { /*padding: 16px 0;*/ }
            .Center_Content .Center_Box ul li.HighNode span.TaskIco { background-position: -280px -40px; }
            .Center_Content .Center_Box ul li.HighNode span.TaskType { }

            .Center_Content .Center_Box ul li.MediumNode a { /*padding: 8px 0;*/ }
            .Center_Content .Center_Box ul li.MediumNode span.TaskIco { background-position: -580px -80px; }
            .Center_Content .Center_Box ul li.MediumNode span.TaskType { }

            .Center_Content .Center_Box ul li.LowNode a { }
            .Center_Content .Center_Box ul li.LowNode span.TaskIco { background-position: -880px -120px; }
            .Center_Content .Center_Box ul li.LowNode span.TaskType { }


    .Center_Content .Center_Box::-webkit-scrollbar { height: 11px; width: 6px; background-color: rgba(0,0,0,0.1); border-radius: 6px; }
    .Center_Content .Center_Box::-webkit-scrollbar-button { display: none; height: 0px; width: 0px; }
        .Center_Content .Center_Box::-webkit-scrollbar-button:start:decrement, .Center_Content .Center_Box::-webkit-scrollbar-button:end:increment { display: block; }
        .Center_Content .Center_Box::-webkit-scrollbar-button:vertical:start:increment, .Center_Content .Center_Box::-webkit-scrollbar-button:vertical:end:decrement { display: none; }
    .Center_Content .Center_Box::-webkit-scrollbar-track:vertical, .Center_Content .Center_Box::-webkit-scrollbar-track:horizontal, .Center_Content .Center_Box::-webkit-scrollbar-thumb:vertical, .Center_Content .Center_Box::-webkit-scrollbar-thumb:horizontal, .Center_Content .Center_Box::-webkit-scrollbar-track:vertical, .Center_Content .Center_Box::-webkit-scrollbar-track:horizontal, .Center_Content .Center_Box::-webkit-scrollbar-thumb:vertical, .Center_Content .Center_Box::-webkit-scrollbar-thumb:horizontal { border-style: solid; border-color: transparent; }
        .Center_Content .Center_Box::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal { background-clip: padding-box; background-color: #fff; }
    .Center_Content .Center_Box::-webkit-scrollbar-thumb { background-clip: padding-box; background-color: rgba(0,0,0,0.2); border-radius: 6px; min-height: 28px; }
        .Center_Content .Center_Box::-webkit-scrollbar-thumb:hover { background-color: rgba(0,0,0,.3); }
        .Center_Content .Center_Box::-webkit-scrollbar-thumb:active { background-color: rgba(0,0,0,.5); }
        .Center_Content .Center_Box::-webkit-scrollbar-track:vertical, .Center_Content .Center_Box::-webkit-scrollbar-track:horizontal, .Center_Content .Center_Box::-webkit-scrollbar-thumb:vertical, .Center_Content .Center_Box::-webkit-scrollbar-thumb:horizontal { border-width: 0; }
    .Center_Content .Center_Box::-webkit-scrollbar-track:hover { background-color: rgba(0,0,0,.05); }
    .Center_Content .Center_Box::-webkit-scrollbar-track:active { background-color: rgba(0,0,0,.05); }


/*左侧工具栏*/
.ToolBar_Wrap { position: fixed; top: 0; left: 0; width: 144px; height: 100%; background: #91c46b; z-index: 2000; }
    .ToolBar_Wrap .ToolBar_Container { overflow: hidden; padding: 72px 0 0 0; }
        .ToolBar_Wrap .ToolBar_Container .ToolBar_Content { }
.ToolBar_Content ul { }
    .ToolBar_Content ul li { }
        .ToolBar_Content ul li a { display: block; width: 144px; height: 72px; text-indent: -9999px; }
            .ToolBar_Content ul li a.select { background-color: #abdb88; }
            .ToolBar_Content ul li a:hover { background-color: #9bcc76; }

/*主框体*/
.MainBox .Main_Wrap { padding: 0 0 0 436px; position: relative; z-index: 0; }
    .MainBox .Main_Wrap .Main_Container { position: relative; overflow: hidden; padding: 0 50px; }

.Main_Container .Main_Title { height: 54px; padding: 32px 0 0 0; background: #fff; overflow: hidden; border-bottom: 1px solid #e9eff0; }
    .Main_Container .Main_Title h2 { font-size: 26px; display: block; margin-bottom: 4px; }

    .Main_Container .Main_Title span { float: left; font-size: 12px; font-weight: normal; display: block; border-radius: 5px; padding: 4px 7px; }
        .Main_Container .Main_Title span.HighVer { color: #fff; background: #d63434; margin-right: 10px; }
        .Main_Container .Main_Title span.ShopID { color: #fff; background: #323b3d; font-size: 12px; padding: 4px 5px 3px 5px; }

.Main_Container .Main_Content { height: 1000px; padding: 3px 0; text-align: center; }
    .Main_Container .Main_Content .Data_Panel { width: 200px; height: 300px; overflow: hidden; }
    .Main_Container .Main_Content figure { margin: 0px; padding: 0px; }
    .Main_Container .Main_Content .Data_Panel .DashBoard_Box { height: 150px; }

    .Main_Container .Main_Content .UserData_Wrap { width: 100%; padding: 20px 0; }
    .Main_Container .Main_Content .UserData_Container { position: relative; overflow: hidden; }
    .Main_Container .Main_Content .UserData_Content { height: 400px; border-radius: 5px; }

.UserData_Content .UserTips { width: 160px; }
