@{
    ViewBag.Title = "Index";
}

<div class="Search_Container">
    <div class="Search_Content">

    </div>
</div>
<div class="Main_Container">
    <div class="Main_Title">
        <h2>平台回访</h2>
        <span class="icon-se"></span>
    </div>
    <div class="Main_Content">
        <a href="javascript:$.PopupView();">点我</a>
    </div>
</div>


