@{
    ViewBag.Title = "Index";
}

@section Head{
    @Scripts.Render("~/Script/Addons")
    @Scripts.Render("~/Script/Addons/Charts")
}

@model MongoDB.Driver.MongoCursor<CloudAir.ProtoType.Custom.Model.Task>

<div class="Center_Wrap">
    <div class="Center_Container">
        <div class="Center_Content">
            <div class="Center_Box content">
                <ul>
                    <li class="Quto RealTime">
                        <a href="javascript:;">
                            <span class="Quto_Value">3</span>
                            <span class="Quto_Title">紧急任务!请尽快处理</span>
                        </a>
                    </li>
                    <li class="Quto High">
                        <a href="javascript:;">
                            <span class="Quto_Value">10</span>
                            <span class="Quto_Title">每日任务</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Center_Title">
                <h4>完成</h4>
            </div>
        </div>
    </div>
</div>
<div class="Main_Wrap">
    <div class="Main_Container">
        <div class="Main_Title">
            <h2>星星上的店铺</h2>
            <span class="HighVer">高级版</span>
        </div>
        <div class="Main_Content">
            <div class="UserData_Wrap">
                <div class="UserData_Container">
                    <div class="UserData_Content">
                        <div class="UserTips">
                            <div class="icon-xx">
                            </div>
                            <span class="UserTips_Title">
                                店主名称
                            </span>
                            <div class="UserTips_Value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="Data_Panel l_Content">
                    <div id="dashboard_msg" class="DashBoard_Box">
                    </div>
                    <div id="dashboard_overadv" class="DashBoard_Box">
                    </div>
                </div>
                <div class="l_Content" id="charts_user">
                    <figure style="width: 800px; height: 300px;" id="myChart"></figure>
                </div>
                <div class="Data_Panel r_Content">
                    <div id="dashboard_" class="DashBoard_Box">
                    </div>
                    <div id="dashboard_overadv" class="DashBoard_Box">
                    </div>
                </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //载入滚动条插件
        //$(window).load(function () {
        //    $(".content").mCustomScrollbar();
        //});
        var g1, g2;
        window.onload = function () {
            //var g1 = new JustGage({
            //    id: "dashboard_msg",
            //    value: getRandomInt(500, 3000),
            //    min: 0,
            //    max: 5000,
            //    formatNumber: true,
            //    title: "短信剩余",
            //    label: "条",
            //    levelColorsGradient: true,
            //    startAnimationTime: 1,
            //    gaugeWidthScale: 0.3
            //});
            //var g2 = new JustGage({
            //    id: "dashboard_overadv",
            //    value: getRandomInt(0, 200),
            //    min: 0,
            //    max: 365,
            //    formatNumber: true,
            //    title: "版本到期",
            //    label: "天",
            //    levelColorsGradient: true,
            //    startAnimationTime: 1,
            //    gaugeWidthScale: 0.3,
            //});
        };
    </script>
}