@{
    ViewBag.Title = "Index";
}

<div class="Center_Wrap">
    <div class="Center_Container">
        <div class="Center_Content">
            <div class="Center_Box">
                <ul>
                    <li class="RedLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="RedLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="RedLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="OrgLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="BluLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    <li class="BluLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="BluLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="GreLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="GreLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="GreLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    <li class="GreLv">
                        <a href="javascript:;">
                            <span class="TaskIco"></span>
                            <span class="TaskText"></span>
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
            <div class="Center_Title">
                <h4>完成</h4>
            </div>
        </div>
    </div>
</div>
@*<div class="Search_Container">
        <div class="Search_Content">
            <dl>
                <dt>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dt>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
            </dl>
        </div>
    </div>*@
@*<div class="Main_Container Search_Container">
        <div class="Main_Title">
            <h2>查询</h2>
            <span class="icon-se"></span>
        </div>
        <div class="Main_Content">
            <dl>
                <dt>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dt>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
                <dd>
                    <span class="span_key">店铺ID</span>
                    <span class="span_val"><input name="ShopID" /></span>
                </dd>
            </dl>
        </div>
    </div>*@

<div class="Main_Container">
    <div class="Main_Title">
        <h2>综合</h2>
        <span class="icon-se"></span>
    </div>
    <div class="Main_Content">
        <div class="Line_Box">
            <div class="ColorLabel Label-Green">
                <span class="block_key">103</span>
                <span class="block_val">客户反馈</span>
            </div>
            <div class="ColorLabel Label-Orange">
                <span class="block_key">1332</span>
                <span class="block_val">平台回访</span>
            </div>
            <div class="ColorLabel Label-Red">
                <span class="block_key">30</span>
                <span class="block_val">日常回访</span>
            </div>
            <div class="ColorLabel Label-Blue">
                <span class="block_key">0</span>
                <span class="block_val">新增订单</span>
            </div>
            <div class="ColorLabel Label-Green">
                <span class="block_key">300</span>
                <span class="block_val">新增用户</span>
            </div>
            <div class="ColorLabel Label-Blue">
                <span class="block_key">20</span>
                <span class="block_val">新增</span>
            </div>
        </div>
    </div>
</div>


